$primary: rgba(143, 59, 149, 1);
$secondary: rgba(84, 82, 160, 1);
$success: rgba(121, 186, 123, 1);
$danger: rgba(235, 115, 123, 1);
$font-family-monospace: 'Lato';
$font-family-sans-serif: 'Lato';
$warning: rgba(255, 144, 39, 1);